
        .snooker-shadow {
            box-shadow: 0 10px 30px rgba(24, 58, 52, 0.15); /* Enhanced Shadow */
        }
        .sidebar-link {
            transition: all 0.2s;
            border-radius: 0.5rem;
        }
      
 
        .main-content {
            min-height: 100vh;
        }
        .card-glow {
            transition: transform 0.3s ease-in-out;
        }
        .card-glow:hover {
            transform: translateY(-3px);
            box-shadow: 0 15px 35px rgba(24, 58, 52, 0.25);
        }
        #mover{
            height: 100px;
            width:100px;
            background-color: red;
        }
